<section class="login">
  <aside class="login-background">
    <img src="../../../assets/login.svg" alt="image login">
    <h1>OurTrip</h1>
  </aside>
  <main class="right-side">
    <article>
      <mat-card>
        <mat-card-header>
          <mat-card-title>Login</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <form>
            <mat-form-field>
              <mat-label>E-mail</mat-label>
              <input matInput>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Senha</mat-label>
              <input matInput>
            </mat-form-field>
          </form>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button appearance="primary" size="lg" class="btn-login">Login <mat-icon>keyboard_arrow_right</mat-icon></button>
          <span>Ou</span>
          <button mat-raised-button appearance="outline" size="sm" class="btn-cadastrar">Cadastrar</button>
        </mat-card-actions>
      </mat-card>
    </article>
  </main>
</section>
